
figure.center {
display: flex;
justify-content: center;
align-items: center;
}
.column.my-class {
    display: inline-flex; 
}

.column.my-class > div {
    width: 130%; /* only Edge needed this nonsense*/
}
.blog h1{
    
    margin-bottom: 50px;
    text-align: center;
    color: #4d94ff;
}
span{
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.systemid h1{
    padding-top: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
}